body {
    margin: 0;
    animation: skylove;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 5s;
}

.grass {
    background: green;
    height: 600px;
    width: 100%;
    position: absolute;
}

.sun {
    background: #f1c40f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: sunlove;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
}

@keyframes skylove {
    0% {
        background-color: #2c3e50;
    }
    10% {
        background-color: pink;
    }
    30% {
        background-color: skyblue;
    }
    70% {
        background-color: skyblue;
    }
    90% {
        background-color: pink;
    }
    100% {
        background-color: #2c3e50;
    }
}

@keyframes sunlove {
    0% {
        transform: translate(-200px, 200px);
        background: #d35400;
    }
    25% {
        transform: translate(330px, 0px);
        background: #f1c40f;
    }
    50% {
        transform: translate(860px, -50px);
        background: #f1c40f;
    }
    75% {
        transform: translate(1390px, 0px);
        background: #f1c40f;
    }
    100% {
        transform: translate(1920px, 200px);
        background: #e74c3c;
    }
}