/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.dropdown__hover {
    display: inline-block;
    padding: 10px;
    background: #323b40;
    color: white;
    cursor: pointer;
    border: none;
}

.dropdown__hover:hover {
    background: #222;
}

.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: white;
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__menu a {
    padding: 10px;
    text-decoration: none;
    border-top: solid 1px #e0e0e0;
    border: none;
    display: block;
}

.dropdown__menu a:hover {
    background: #f0f0f0;
    color: #323b40;
}