/* Original Tutorial from https://www.youtube.com/watch?v=bLH-mBuztTA&t=3610s
Editing and Improve Template from https://github.com/naufaldi/learning-css/tree/master/landing-page2

*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6em;
    background-attachment: fixed;
    background-image: url(student.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper {
    width: 90%;
    margin: 100px auto 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
}

.main-header {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to left, #F09459, #e66586);
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}

.content h1 {
    margin-bottom: 10px;
    line-height: 1.2em;
}

.start {
    display: block;
    margin: 30px auto 0px;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
}

.features {
    display: flex;
    height: auto;
    background: #fff;
    /* padding: 50px 0px; */
}

.feature {
    display: flex;
    padding: 5px;
    color: #fff;
    background-size: cover;
    position: relative;
}

.feature-1 {
    background-image: url(img/power1.jpg);
}

.feature-2 {
    background-image: url(img/power2.jpg);
}

.feature-3 {
    background-image: url(img/power3.jpg);
}

.feature:before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
}

.icon {
    display: grid;
    font-size: 30px;
    height: 30px;
    width: 30px;
    padding: 5px 10px;
    color: #F09459;
    border-radius: 13px;
    z-index: 1;
    margin: 50px 0;
}

.feature:hover .icon {
    background-image: linear-gradient(to right, #F09459, #e66586);
    color: #fff;
    z-index: 1;
}

.feature-content {
    margin-left: 5px;
    padding: 0px 8px;
    z-index: 1;
    margin: 50px 0px;
}

.feature-content p {
    margin-top: 10px;
    color: #fff;
}

#our-story {
    width: 100%;
    height: 500px;
    position: relative;
}

.story-wrapper {
    display: flex;
    position: relative;
}

.story-img {
    width: 50%;
    height: 500px;
}

.story-text {
    position: relative;
    width: 50%;
    height: 500px;
    background-image: linear-gradient(to left, #EB7D70, #E66586);
}

.story-text div {
    position: absolute;
    top: 50%;
    left: 4%;
    color: #fff;
}

.box {
    width: 40%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.team {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 50px 0;
}

.box-team {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(230, 101, 134, 0.2);
    width: 20%;
    margin: 10px;
    height: 400px;
}

.team-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 100%;
}

.letter {
    width: 100%;
    padding: 70px 0px;
    background: linear-gradient(to bottom, rgba(230, 101, 134, 0.5), rgba(235, 125, 112, 0.9));
    z-index: -1;
}

.control {
    width: 100%;
    text-align: center;
    z-index: 1;
    opacity: 1;
}

.control h3 {
    font-size: 30px;
    line-height: 1.2em;
}

.control span {
    color: #fff;
    display: block;
    margin: 10px 0px 20px;
}

.input {
    height: 30px;
    width: 250px;
    border: none;
    margin: 0px 10px 20px 0px;
    background: #f1f1f1;
    padding: 0px 5px;
}

.input:focus {
    outline: none;
}

.btn {
    width: 100px;
    height: 35px;
    border: none;
    padding: 10px;
    background: #E66586;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #F0935A;
}

.contact {
    width: 30%;
    color: #fff;
    text-align: center;
    padding: 50px 0px;
}

.contact .fa {
    font-size: 5vh;
}

.contact .fa p {
    font-size: 20px;
    padding: 20px;
}

.contact:hover {
    color: #E66686;
}


/*Responsive Design*/

@media (max-width: 1000px) {
    .main-header {
        height: 300px;
    }
    .features {
        display: grid;
    }
    .feature {
        width: 100%;
        display: flex;
        margin: 0px auto;
        height: 250px;
    }
    .feature:hover .icon {
        background: none;
        color: #E66586;
    }
    .icon {
        font-size: 100px;
        border-radius: 0px;
        height: 200px;
        width: 50%;
        color: #e66586;
        text-align: center;
    }
    .feature-content {
        width: 50%;
        padding-right: 5px;
        /* padding: 5px 5px; */
        box-sizing: border-box;
    }
    .wrapper {
        width: 95%;
    }
}

@media (max-width: 900px) {
    #our-story {
        height: auto;
    }
    .story-text,
    .story-img {
        height: 200px;
    }
    .box {
        position: relative;
        width: 100%;
        margin: 0px;
        top: 0px;
        left: 0px;
        transform: none;
        box-sizing: border-box;
        background-image: linear-gradient(to left, #EB7D70, #E66586);
        color: #fff;
    }
}

@media(max-width:575px) {
    .features {
        display: flex;
        flex-wrap: wrap;
    }
    .feature {
        display: block;
        text-align: center;
        height: auto;
    }
    .icon {
        font-size: 50px;
        height: auto;
        margin: auto;
    }
    .feature-content {
        width: 500px;
        margin: 0px auto;
    }
    .contact {
        width: 200px;
        margin: 0px auto;
        padding: 10px auto;
    }
    .wrapper {
        width: 100%;
        margin: 0px;
    }
}