* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6em;
    background-attachment: fixed;
    background-image: url(student.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper {
    width: 90%;
    margin: 100px auto 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
}

.main-header {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to left, #F09459, #e66586);
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}

.content h1 {
    margin-bottom: 10px;
    line-height: 1.2em;
}

.start {
    display: block;
    margin: 30px auto 0px;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
}

.features {
    display: flex;
    height: auto;
    background: #fff;
    padding: 50px 0px;
}

.feature {
    display: flex;
    padding: 5px;
}

.icon {
    display: grid;
    font-size: 30px;
    height: 30px;
    width: 30px;
    padding: 5px 10px;
    color: #F09459;
    border-radius: 13px;
}

.feature:hover .icon {
    background-image: linear-gradient(to right, #F09459, #e66586);
    color: #fff;
}

.feature-content {
    margin-left: 5px;
    padding: 0px 8px;
}

.feature-content p {
    margin-top: 10px;
    color: #444;
}

#our-story {
    width: 100%;
    height: 500px;
    position: relative;
}

.story-wrapper {
    display: flex;
    position: relative;
}

.story-img {
    width: 50%;
    height: 500px;
}

.story-text {
    position: relative;
    width: 50%;
    height: 500px;
    background-image: linear-gradient(to left, #EB7D70, #E66586);
}

.story-text div {
    position: absolute;
    top: 50%;
    left: 4%;
    color: #fff;
}

.box {
    width: 40%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.letter {
    width: 100%;
    padding: 70px 0px;
    background: #fff;
}

.control {
    width: 100%;
    text-align: center;
}

.control h3 {
    font-size: 30px;
    line-height: 1.2em;
}

.control span {
    color: #999;
    display: block;
    margin: 10px 0px 20px;
}

.input {
    height: 30px;
    width: 250px;
    border: none;
    margin: 0px 10px 20px 0px;
    background: #f1f1f1;
}

.input:focus {
    outline: none;
}

.btn {
    width: 100px;
    height: 35px;
    border: none;
    padding: 10px;
    background: #E66586;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contact-wrapper {}