/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.slide img {
    display: inline-block;
    vertical-align: middle;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 35, 69, 0.9);
    padding: 20px;
    color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.slide:hover .slide-content {
    transform: translate(0, 0);
}

.slide-top .slide-content {
    transform: translate(0, -100%);
}

.slide-bottom .slide-content {
    transform: translate(0, 100%);
}

.slide-right .slide-content {
    transform: translate(100%, 0);
}

.slide-left .slide-content {
    transform: translate(-100%, 0);
}