html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 0.9em;
}

main {
    flex: 1 0 auto;
    /*fill the available space*/
    display: flex;
}

aside {
    display: flex;
    /*Now a flex-container too*/
    flex: 0 0 40px;
    flex-direction: column;
    /*since direction is changed, this works on the vertical direction*/
    justify-content: space-around;
    /*direction is changed! This affects the horizontal direction. Places Icons in the center*/
    align-items: center;
    background-color: #f2f2f2;
}

aside i.fa {
    font-size: 0.9em;
    /*font size for the icons*/
}

.content {
    display: flex;
    /*this makes sure the section grows to fill the entire available space and shrinks too*/
    flex: 1 1 auto;
    flex-direction: column;
    /*this makes sure the section grows to fill the entire available space and shrinks too*/
}

.music-head {
    flex: 0 0 280px;
    /*Same memo, don't grow or shrink - stay at 280px*/
    display: flex;
    padding: 40px;
    background-color: #4e4e4e;
}

.catty-music {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    padding-left: 50px;
}

.catty-music div:nth-child(1) {
    margin-bottom: auto;
}

.catty-music div:nth-child(2) {
    margin-top: 0;
}

.catty-music div:nth-child(1) p:first-child {
    font-size: 1.8em;
    margin: 0 0 10px;
}

.catty-music div:nth-child(1) p:not(:first-child) {
    font-size: 0.9em;
    margin: 2px 0;
}

.music-list {
    flex: 1 0 auto;
    list-style-type: none;
    padding: 5px 10px 0px;
}

li {
    display: flex;
    padding: 0 20px;
    min-height: 50px;
}

li p {
    flex: 0 0 25%;
    /*This is the sweet sauce*/
}

li span.catty-cloud {
    border: 1px solid black;
    font-size: 0.6em;
    padding: 3px;
}

li:nth-child(2n) {
    background-color: #f2f2f2;
}

footer {
    flex: 0 0 90px;
    /*don't grow or shrink - just stay at a height of 90px.*/
    display: flex;
    flex: 0 0 90px;
    padding: 10px;
    color: #fff;
    background-color: rgba(61, 100, 158, .9);
    /* flex-direction: column; */
}

.music-play {
    display: flex;
    margin-right: auto;
}

.music-play img {
    padding-right: 10px;
    width: 100px;
}

.music-control {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

@media screen and (max-width: 64em) {
    .sm-hide {
        display: none;
    }
    .sm-text-center {
        text-align: center;
    }
    .sm-text-right {
        text-align: right;
    }
    section.content .music-head {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        /*stack image and music details vertically*/
        align-items: center;
        padding-right: 40px 0;
        background-color: #4e4e4e;
    }
    .section.content .music-head .catty-music {
        padding: 0;
    }
    /*album art*/
    .music-head img {
        width: 150px;
    }
    /* album detail */
    .catty-music div:nth-child(1) p:first-child {
        margin: 20px 0;
        font-size: 1em;
    }
    /*song lists*/
    li p {
        flex: 0 0 50%;
    }
    /*music control*/
    .music-controls {
        justify-content: space-around;
    }
}