.gallery {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.gallery img {
    margin: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 250px;
}


/*
 = ====== visuals =========
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.cards {
    min-height: 100vh;
}

.card {
    margin: 12px;
    background: #b8aeae;
    border-radius: 7px;
    padding: 0 0 50px 0;
}

.card>header {
    background: #808080;
    height: 200px;
    border-radius: 7px 7px 0 0;
}

.card>ul {
    list-style: none;
    padding: 0;
}

.card>ul li {
    height: 20px;
    width: 90%;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.4);
}

.card button {
    width: 50%;
    height: 40px;
    border: 0;
    margin-left: 12px;
    border-radius: 7px;
}

.card--big {
    transform: scaleX(1.12);
}

.grey {
    background-color: #808080;
}

.row {
    display: flex;
}

.row_cell {
    flex: 1;
}

.row_cell--2 {
    flex: 2;
}

.row_cell--3 {
    flex: 3;
}

.row_cel--4 {
    flex: 4;
}

.row_cell--5 {
    flex: 5;
}

.row_cell--6 {
    flex: 6;
}

.row_cell--7 {
    flex: 7;
}

.row_cell--8 {
    flex: 8;
}

.row_cell--9 {
    flex: 9;
}

.row_cell--10 {
    flex: 10;
}

.row_cell--11 {
    flex: 11;
}

.row_cell--12 {
    flex: 12;
}

.row_cell--top {
    align-self: flex-start;
}

.row_cell--bottom {
    align-self: flex-end;
}

.row_cell--center {
    align-self: center;
}