@import "ms-mixin";
$ms-images-slide-width: 700px;
$ms-images-slide-height: 400px;
@include ms {
    $cssClass: 'ms-container', $slider-length: 100%, $slider-center: false, $slider-width: $ms-images-slide-width, $slider-height: $ms-images-slide-height, $vertical: false, $reserve: false, $debug: false
}

;
// Custom styles for images slider
.ms--images {
    left: calc(50%- #{$ms-images-slide-width / 2 -70px});
    &.ms-container--horizontal .ms-track {
        left: -70px;
    }
    //slide images
    .ms-slide {
        &:nth-child(1) .ms-slide__image {
            background-image: url('..../portfolio-carousel/img/harvey-gibson-498362-unsplash.jpg');
        }
        &:nth-child(2) .ms-slide__image {
            background-image: url('../portfolio-carousel/img/andre-hunter-461305-unsplash.jpg');
        }
        &:nth-child(3) .ms-slide__image {
            background-image: url('../portfolio-carousel/img/joanna-nix-389128-unsplash.jpg');
        }
        &:nth-child(4) .ms-slide__image {
            background-image: url('../portfolio-carousel/img/jurica-koletic-321003-unsplash.jpg');
        }
    }
    .ms-slide__image-container {
        width: 80%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    .ms-slide__image {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}