.form-card {
  background-color: #d8caca;
  -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75);
}

.container {
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  justify-content: space-between;
  
}
.form-card {
  flex: 0 0 30%;
display: flex;
flex-direction: column;
justify-content: center;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
padding-top: 10vh;
align-items: center;
margin: 20px;
}

.input-field {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
.label-field {
  margin: 10px;
}
.select-item {

}
.dropdown {
  height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
ul{
  list-style: none;
}
.option {
  display: flex;
  padding: 0;
}
li {
  margin-left: 20px;
}
input[type="radio" i] {
  margin: 5px 5px 0px 7px;
}