@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    position: absolute;
    color: white;
    top: 0;
    width: 90%;
    padding: 35px 50px 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 10px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

section .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 50px 0;
    margin: 0;
}

header nav {
    display: flex;
}

.header {
    background: rgb(88, 160, 219) url('../img/main.jpg');
}

.header h1 {
    font: bold 60px sans-serif;
    color: white;
    margin: 0;
}

button {
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
}

button:focus {
    outline: 0;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

button:active {
    border: 1px solid #2196F3;
}

.header button {
    padding: 15px;
    text-transform: uppercase;
    border: 0px;
    font-weight: bold;
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 50px 0;
    margin: 0;
}

section h3 {
    font: bold 32px 'Open Sans', sans-serif;
    color: #414a4f;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 35px;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 0;
    padding: 0 20px;
    line-height: 2;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.gallery img {
    height: 400px;
    margin: 10px;
    width: 100%;
}

.gallery .small {
    width: 450px;
    overflow: hidden;
    margin: 0px;
}

.gallery .large {
    width: 700px;
    overflow: hidden;
    margin: 0px;
}

img {
    object-fit: cover;
}

.feature {
    background-color: #f7f7f7;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

i {
    font-size: 20px;
    color: #2196F3;
}