@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.menu__button {
    background: transparent;
    color: white;
    font-size: 42px;
    border: 0;
    line-height: 39px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-wrap {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 17px 15px;
    width: 50px;
    height: 50px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    white-space: nowrap;
    color: #464448;
    overflow: hidden;
    background: #366CC8;
    border-radius: 50%;
    box-shadow: 0 3px 10px -2px rgba(black, 0.25);
    transition: 0.2s;
    &.open {
        background: white;
        border: 1px solid #ccc;
        width: 165px;
        height: 138px;
        border-radius: 2px;
        .menu {
            opacity: 1;
            visibility: visible;
        }
        .menu__button {
            color: #7B7B7D;
            transform: rotate(45deg);
        }
    }
}

.menu__button {
    font-weight: 400;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 34px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: 0.2s;
    user-select: none;
}

.menu__title {
    font-size: 12px;
    margin: 0 0 13px 0;
}

.menu__content {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.menu__content__list {
    list-style: none;
    li {
        margin: 0 0 3px 0;
        transform: translateX(20px);
        transition: 0.2s;
        &:nth-child(1) {
            transition-delay: 0.8s;
            svg {
                fill: #42A5F5;
            }
        }
        &:nth-child(2) {
            transition-delay: 0.12s;
            svg {
                fill: #66BB6A;
            }
        }
        &:nth-child(3) {
            transition-delay: 0.15s;
            svg {
                fill: #FF8F00;
            }
        }
        .menu.open & {
            transform: translateX(0);
        }
    }
    svg {
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
}

.menu {
    opacity: 0;
    transition: 0.2s;
}

footer {
    padding: 1rem;
    background: lightyellow;
}