@import "profile";

$primary-color : green;
$secondary-color: #ababab;
$bg-color: #2c3e50;
$hover-color: #16a085;
$text-color: #ffffff;

/* Extend Code */

h1 {
    color: $primary-color;
    background-color:$secondary-color;
}
p{
    color: $primary-color;
    font-size: 24px;
}

nav {
    ul{
        background: $bg-color;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        color: $text-color;
        display: inline-block;
        text-decoration: none;
        padding: 10px 16px;
    }
    a:hover{
        background: $hover-color;

    }
}
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;

}
.panel {
    border: 3px solid #16a085;
    background: lightblue;
    margin: 2px;
}
.little-panel {
    @extend .panel ;
    @include border-radius(5px);
    font-size: 14px;
    padding: 10px;
}
.big-panel {
    @extend .panel;
    @include border-radius(10px);
    font-size: 18px;
    padding: 20px;
}

/* Button */
$button-bg: green;
$button-color: #fff;
$button-padding: 5px;

.button {
    background: $button-bg;
    color: $button-color;
    border-radius: 10px;
    display: inline-block;
    padding: $button-padding;
    text-decoration: none;
}

.jumbo-button {
    @extend .button ;
    padding: $button-padding + 10px;
}
.light-button {
    @extend .button;
    background: $button-bg * 1.5;
}