/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.tooltop {
    position: relative;
    height: 60px;
    width: 250px;
    background: #f2395a;
    color: white;
    text-align: center;
    line-height: 60px;
    line-height: 60px;
    font-size: 18px;
    margin: 0 auto;
}