@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a {
    font-size: 48px;
    margin: 20px;
    text-decoration: none;
    color: #95a5a6;
    font-family: raleway;
    border-bottom: 1px solid #52c9aa;
    transition: color 0.5s ease-out;
}

a:hover {
    color: #3498db;
    border-bottom-color: #3498db;
}

i {
    margin-right: 10px;
}

@media screen and (max-width: 920) {
    nav {
        justify-content: space-around;
    }
    a {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        background: #34495e;
    }
    a {
        color: white;
    }
}