@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway');
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 920) {
    nav {
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}