// GLOBAL VARIABLES
// add your global variables here

// fonts
$sans-serif: "PT Sans", sans-serif
$sans-serif-2: "Titillium Web", sans-serif

// brand
$brand-primary:  #f26722
$brand-dark:     #373737
$brand-light:    #f4f6ef
