.hero{
  padding-top: 120px;
  background-image: url('/images/bg-header-mobile.png');
  background-size: cover;
  background-position: center top;
  @include breakpoint(medium){
    padding-top: 130px;
    background-image: url('/images/bg-header-desktop.png');
  }
   &__logo{
    margin-bottom: 70px;
  }
  &__subheadline{
    margin-bottom: 50px;
    line-height: 1.6;
  }
  &__cta{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoint(medium){
      display: block;
    }
    button:first-child{
      margin-bottom: 20px;
      @include breakpoint(medium){
        margin-bottom: 0px;
        margin-right: 16px;

      }
    }
  }

}